.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
  padding: 3px;
  background-color: #75be69;
}
.pagination li a {
  color: #274322;
  display: inline-block;
  padding: 8px 12px;
}

.pagination li.active {
  font-weight: bold;
  background-color: rgb(63, 97, 11);
}
