#cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 150px;
  height: 200px;
  margin: 10px;
  text-align: center;
  background-color: rgb(56, 124, 56);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.card .card__image img {
  width: 90%;
  margin-top: 10px;
  border-radius: 5px;
}

.card .card__name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  font-weight: 600;
  font-size: 13px;
}

.no-results {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(116, 116, 116);
}
